<html>
<div class="row">

        <div class="col-md-3 contact">
                <div class="col-md-3 contact">
                        <p> <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.200.200/p200x200/12573933_1138462652831134_1170392822138054906_n.jpg?oh=8a4bf16d715b73c62514c7645ca522ed&oe=590E5F92" /> </p>
                        <h2>Address</h2>
                        <p>117 W. South Street
                                <br> Kalamazoo, MI 49007 </p>

                        <h2>Phone number</h2>
                        <p> (269) 553-4297 </p>

                        <h2>Hours</h2>
                        <li>Sunday: Closed</li>
                        <li>Monday: Closed</li>
                        <li>Tuesday: 11:00am - 6:00pm</li>
                        <li>Wednesday: 11:00am - 6:00pm</li>
                        <li>Thursday: 11:00am - 6:00pm</li>
                        <li>Friday: 11:00am - 6:00pm</li>
                        <li>Saturday: 11:00am - 4:30pm</li>
                </div>
        </div>

        <div class="col-md-6 contactm">
                <div class="col-md-6 contactm">
                        <h1>Contact C</h1>
                        <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                        <textarea class="form-control" rows="4" name="message"></textarea>
                                </div>
                        </div>
                        <h1><a class="btn btn-default" href="#" role="button">Send &raquo;</a></h1>

                        <h1>________</h1>
                        <p>
                                <iframe class="map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADx-HGqABcWnvqPxj14vou3Q889CXYWcc&q=cs+perfect+tie,kalamazoo+MI" allowfullscreen>
                                </iframe>
                        </p>

                </div>

        </div>

        <div class="col-md-3 contact">
                <div class="col-md-3 contact">
                        <p> <img class="img-responsive" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-0/p160x160/8366_1193806037296795_6450438907708755785_n.jpg?oh=b667d60ec599821a9bb4e8cbe4b62259&oe=593DDCCA" /> </p>
                        <h2>About C's</h2>
                        <ul>
                                <li>Bullet</li>
                                <li>Points</li>
                                <li>About</li>
                                <li>C's</li>
                                <li>Perfect</li>
                                <li>Tie</li>

                        </ul>
                </div>
        </div>

</div>
</div>

</html>