<% if params[:controller] == 'home' %> 

<div class="jumbotron">
      <div class="container">
        <h1>C's Perfect Tie & Accessories</h1>
        <p>Men's Business and Dress Suits, Ties, Shirts and Accessories. Casual wear featuring mens two piece leisure suits. 
        New merchandise arriving daily. Be sure to stop in to look for that special gift for that special man. If you are not sure a Gift Certificate is a sure favorite.</p>
      </div>
</div>
<% end %>