
	<html>	
		<div class="row login">
			<div class="col-md-4 center-block" style="float:none;">
			<div class="col-md-4 login">
          		<h1>Login</h1>
          			<div class="form-group">
						<input type="text" class="form-control" placeholder="Email" id="username" />
						<input type="password" class="form-control" placeholder="Password" id="password" />
					</div>
          			<h2><a class="btn btn-default" href="#" role="button">Login &raquo;</a></h2>
          			<h2><%= link_to "Register", register_path,id:"lrcolor" %></h2>
        	</div>
			</div>

        </div>
        
	</html>
