	<html>
		
		<div class="row login">
			<div class="col-md-4 center-block" style="float:none;">       	
        		<div class="col-md-4 login">
        			<h1>Register</h1>
        				<div class="form-group">
        					<input type="text" class="form-control" placeholder="First name" id="fname" />
							<input type="text" class="form-control" placeholder="Last name" id="lname" />
							<input type="text" class="form-control" placeholder="Email" id="email" />
							<input type="password" class="form-control" placeholder="Password" id="password" />
							<input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" />
						</div>
							<h2><a class="btn btn-default" href="#" role="button">Register &raquo;</a></h2>
							<h2><%= link_to "Login", login_path,id:"lrcolor" %></h2>
				</div>
        	</div>
        </div>
        
	</html>
