
<html>      
  <div class="row">

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Fashionably Fabulous-Kalamazoo Fashion Week 2016</h3>
        <p>Place: Kalamazoo Institute of Arts - Kalamazoo, MI</p>
        <p>Date: TBD</p>
        <p>Time: TBD</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Las Vegas Fashion Convention</h3>
        <p>Place: 3600 S Las Vegas Blvd, Las Vegas, NV 89109</p>
        <p>Date: September 20, 2017</p>
        <p>Time: 7:00pm</p>
      </div>
    </div>
    </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Battle Creek Fashion Show</h3>
        <p>Place: TBD</p>
        <p>Date: November 16, 2017</p>
        <p>Time: 6:00pm</p>
    </div>
    </div>
  </div>
</html>

